@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    min-height: 100vh;
}

#light {
    background-color: hsl(0, 0%, 98%);
    transition: all 2s;
}

#dark {
    background-color: hsl(207, 26%, 17%);
    transition: all 2s;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    /* height: 100vh; */
}

html {
    font-size: 20px;
}

img {
    max-width: 100%;
}

#dark h3 {
    color: #fff;
}

.nav-container {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px hsla(0, 0%, 52%, 0.274);
    margin-bottom: 30px;
    transition: all 2s;
}

#dark .nav-container {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
    transition: all 2s;
}

.toggle-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* border: 1px solid; */
    /* animation: spin 500ms infinite; */
}

.toggle-btn:active {
    animation: spin 500ms;
}

#dark .toggle-btn {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg)
        brightness(102%) contrast(102%);
}

.flex-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-container2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-content: center;
    grid-gap: 50px 82px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 280px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 1px hsla(0, 0%, 52%, 0.274);
    border-radius: 5px;
    overflow: hidden;
    min-height: 360px;
    min-width: 280px;
    transition: all 2s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px 3px hsla(0, 0%, 70%, 0.9);
    /* background-color: lightgray; */
    transition: all 0.3s;
}

#dark .card {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    background-color: hsl(209, 23%, 22%);
    transition: all 2s, box-shadow 0.3s;
}

#dark .card:hover {
    box-shadow: 0 5px 10px rgba(220, 220, 220, 0.3),
        0 -5px 10px rgba(188, 188, 188, 0.3);
    transition: all 0.3s;
}

.card--img {
    height: 175px;
    width: 280px;
}

.country-name {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    /* cursor: pointer; */
    white-space: nowrap;
}

.card--container {
    padding: 1rem;
}

.bold {
    font-weight: bold;
}

p {
    font-size: 16px;
}

.btn {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
    transition: all 2s;
    font-size: 16px;
    padding-right: 16px;
}

#dark .btn {
    color: white;
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
}

.data {
    display: flex;
    align-items: center;
    width: 100%;
    /* color: #fff; */
}

#dark .data {
    color: #fff;
}

.country--img {
    width: 426px;
    max-height: 262px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
    margin-right: 120px;
}

.country-info h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.all-props {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left {
    margin-right: 120px;
}

p {
    margin-bottom: 10px;
}

#dark .country--img {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
