.search input {
    background-color: white;
    border: 0;
    box-shadow: 0 0 10px 1px hsla(0, 0%, 52%, 0.274);
    font-size: 12px;
    padding: 15px;
    height: 46px;
    width: 430px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 50px;
    font-weight: 600;
    transition: all 2s;
}

#dark .search input {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%), 0 -5px 10px rgb(0 0 0 / 10%);
    transition: all 2s;
}

#dark .search input::placeholder {
    color: white;
}

input:focus {
    border: none;
    outline: none;
}

.search-inputs {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 11px;
}
